Тестовое задание.
Ожидается, что на выполнение тестового задания уйдёт 1-2 часа. Все критерии выполнения за это время соблюсти невозможно, поэтому здесь цель – проверить насколько далеко вы продвинетесь.
Задача - написать скрипт с использованием Gemini для перевода текста на чертеже с русского языка на английский язык. Имеются картинки с чертежами. На каждой из них надо найти русский текст, распознать, перевести на английский язык и вписать его обратно на картинку вместо оригинала. Итого, на вход скрипта картинка на русском, а на выход - на английском.

Правила перевода:
1. Русский язык должен быть удалён из документа. В минимальном формате, можно сдать задание с просто качественной закраской русского текста.
2. Размер шрифтов должен быть по возможности сохранён.
3. В рамках задания сам тип шрифта можно использовать любой – не обязательно воспроизводить шрифт из документа.
4. Текст не должен выходить за границы ячеек таблицы.
5. Аббривеатуры должны переводиться транслитом.
6. Можно использовать до 20 вызовов Gemini на картинку. Меньше – лучше, но это вторично.
7. Цифры без текста по возможности должны быть оставлены без изменений.
Подсказка: Gemini неплохо умеет возвращать JSON с bounding boxes вокруг текста, если его об этом попросить.

В результатах нужно прислать ссылку на публичный github репозиторий, в котором лежит код и файл с requirements. Оцениваться будет в первую очередь качество работы, а во вторую - простота кода и отсутствие over-engineering, которыми славятся LLM. Код, который работает чуть-чуть хуже, но в 3 раза короче - предпочтительнее, чем наоборот.
